@charset "ISO-8859-1";

.ui-fileupload-row>div {
    /* display: table-cell; */
    padding: 4px 10px;
}

.fotoDialog>a {
    color: red;
    text-decoration: none;
}

#form{
	color: #004085;
	border-color: #e2e3e5;
	border-style: solid;
	border-width: 1px;
}

#cabecalho{
	color: #004085;
	border-color: #e2e3e5;
}
